---
layout: default
title: "Josh Boyan - Full-stack JavaScript" 
url: "http://joshboyan.github.io/builds/dist/"
image: "https://joshboyan.github.io/builds/dist/img/josh-boyan.jpg"
description: "Full-stack JavaScript Developer, UX/UI designer, problem-solver and fun person to work with in general."  

---
	
</header>

<div class="container main-container">

			<div class="row">
				<!-- side content -->
				<aside class="col-sm-3 about-me about-side text-center hidden-xs">
						<img src="img/josh-boyan.jpg" class="profile-pic img-responsive center-block">
						<h1>Josh Boyan</h1>
						<h2>Full-stack JavaScript</h2>
						<h3>Problem Solver</h3>

						<div class="text-center" style="margin:20px">
							<a href="https://www.linkedin.com/in/joshboyan/" target="_blank" class="cta-icon"><img src="img/linkedin.png" alt="Linkedin"></a>
							<a href="https://stackoverflow.com/users/5827595/captainj?tab=profile" target="_blank" class="cta-icon"><img src="img/stack-overflow.png" alt="Stack Overflow"></a>
							<a href="/jBoyanFullStackJavaScript.pdf" target="_blank" class="cta-icon"><img src="img/resume.png" alt="Resume"></a>
							<a href="https://github.com/joshboyan" target="_blank" class="cta-icon"><img src="img/github-icon.png" alt="GitHub"></a>
							<a href="https://www.npmjs.com/~joshboyan" target="_blank" class="cta-icon"><img src="img/npm.png" alt="NPM"></a>
						</div>
				</aside>

				<aside class="text-center about-me hidden-sm hidden-md hidden-lg">
						<img src="img/josh-boyan.jpg" width=200 class="profile-pic img-responsive center-block">
						<h1>Josh Boyan</h1>
						<h2>Full-stack JavaScript</h2>
						<h3>Problem Solver</h3>

						<div class="text-center" style="margin:20px">
							<a href="https://www.linkedin.com/in/joshboyan/" class="cta-icon"><img src="img/linkedin.png" alt="Linkedin"></a>
							<a href="https://stackoverflow.com/users/5827595/captainj?tab=profile" class="cta-icon"><img src="img/stack-overflow.png" alt="Stack Overflow"></a>
							<a href="/jBoyanFullStackJavaScript.pdf" target="_blank" class="cta-icon"><img src="img/resume.png" alt="Resume"></a>
							<a href="https://github.com/joshboyan" class="cta-icon"><img src="img/github-icon.png" alt="GitHub"></a>
							<a href="https://www.npmjs.com/~joshboyan" target="_blank" class="cta-icon"><img src="img/npm.png" alt="NPM"></a>	
						</div>
				</aside>
				
				<div class="bottom-cta hidden-sm hidden-md hidden-lg text-center">
					<a href="/jBoyanFullStackJavaScript.pdf" target="_blank"><div class="btn btn-primary">Get in touch</div></a>
				</div>
				

				<!-- main content -->
        <main role="main" class="col-sm-9 col-sm-offset-3">

					
					<div class="row work-item-row">
							<div class="col-sm-8 col-sm-offset-2 project">

								<img src="img/devskills-api.png" class="img-responsive">

								<h2 class="text-center">
									<a href="https://devskills-api.herokuapp.com" target="blank">
										DevSkills API
									</a>
								</h2>
								<p>This is an express RESTful API for information gathered by nodejs micro-services about what skills are trending in the development field.</p>
								<h4>Technology</h4>
								<p>The API is built using expressjs with MVC architecture for the server and HTTP endpoints to access a Mongo NoSQL database hosted on Heroku. The database is populted by an Nodejs program that accesses the StackOverflow and Twitter streaming APIs than crawls Indeed to scrape information. Authentication is done with JWT. The docs and examples for the API are built using React.</p>

								<div class="row text-center">
									<div class="col-xs-12">
										<img src="img/techImg/node.png" class="techlogo">
										<img src="img/techImg/express.png" class="techlogo">
										<img src="img/techImg/mongo.png" class="techlogo">
										<img src="img/techImg/react.png" class="techlogo">
										<img src="img/techImg/heroku.png" class="techlogo">
										<img src="img/techImg/jest.png" class="techlogo">
										<img src="img/techImg/bootstrap.png" class="techlogo">
									</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://devskills-api.herokuapp.com" target="blank">View App</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/devskills-api" target="blank">GitHub</a>
								</div>
							</div>
					</div>

					<div class="row work-item-row">
							<div class="col-sm-8 col-sm-offset-2 project">

								<img src="img/appointment-ledger.png" class="img-responsive">

								<h2 class="text-center"><a href="https://appointment-ledger-map.herokuapp.com" target="blank">Appointment Ledger Map</a></h2>
								<p>Progressive web app built with MERN stack that schedules appointments and give users directions and timeframes.</p>
								<h4>Technology</h4>
								<p>The front-end uses React and bootstrap for a mobile-first UI. The app uses the Google Maps and Places APIs to give users autocomplete functionality and directions. The backend is an express API that perfroms CRUD operations on a mongoDB database.</p>

								<div class="row text-center">
									<div class="col-xs-12">
										<img src="img/techImg/react.png" class="techlogo">
										<img src="img/techImg/node.png" class="techlogo">
										<img src="img/techImg/express.png" class="techlogo">
										<img src="img/techImg/mongo.png" class="techlogo">
										<img src="img/techImg/jest.png" class="techlogo">
										<img src="img/techImg/bootstrap.png" class="techlogo">
										<img src="img/techImg/travisci.png" class="techlogo">
									</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://appointment-ledger-map.herokuapp.com" target="blank">View App</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/appointment-ledger-map" target="blank">GitHub</a>
								</div>
							</div>
					</div>
				
					<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
							<img src="img/book-finder.png" class="img-responsive">
							<h2 class="text-center"><a href="https://react-book-finder.herokuapp.com/" target="blank">Book Finder</a></h2>
							<p>React progressive web application using the Google Books API to find and sort books.</p>
							<h4>Technology</h4>
							<p>The UI is built with React following material design guidelines. The app accesses the Google books API and uses sevice workers and IndexedDB for offline usage.</p>
							<div class="row text-center">
								<div class="col-xs-12">
									<img src="img/techImg/react.png" class="techlogo">
									<img src="img/techImg/webpack.png" class="techlogo">
									<img src="img/techImg/node.png" class="techlogo">									
									<img src="img/techImg/express.png" class="techlogo">									
									<img src="img/techImg/mongo.png" class="techlogo">									
									<img src="img/techImg/heroku.png" class="techlogo">
								</div>
							</div>
							<div class="row text-center" style="margin:20px;">
									<a class="btn btn-primary" href="https://react-book-finder.herokuapp.com/" target="blank">View App</a>
									<a class="btn btn-primary" href="https://github.com/joshboyan/react-book-finder/" target="blank">GitHub</a>
							</div>
						</div>
					</div>

					<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/fifteen.png" class="img-responsive">
								<h2 class="text-center"><a href="https://fifteen-puzzle.herokuapp.com/" target="blank">Fifteen Puzzle</a></h2>
								<p>Number sorting puzzle game with timer, move counter and leader boards.</p>
								<h4>Technology</h4>
								<p>Fifteen is a progressive web app built with EcmaScript2015 and supplemented with modern browser APIs and polyfills. A custom node RESTful API uses MongoDB for the game score database and IndexedDB for offline support.</p>
								<div class="row text-center">
										<div class="col-xs-12">
												<img src="img/techImg/node.png" class="techlogo">
												<img src="img/techImg/express.png" class="techlogo">
												<img src="img/techImg/mongo.png" class="techlogo">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/babel.png" class="techlogo">
												<img src="img/techImg/sass.png" class="techlogo">
												<img src="img/techImg/heroku.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://fifteen-puzzle.herokuapp.com/" target="blank">Open App</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/fifteen" target="blank">GitHub</a>
								</div>
						</div>
				</div>


				<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/weather-app.png" class="img-responsive">
								<h2 class="text-center"><a href="https://joshboyan.github.io/weatherApp/builds/dist/" target="blank">Animated Weather</a></h2>
								<p>Weather app with CSS3 and SVG animations giving users current weather and their 3 day forecast.</p>
								<h4>Technology</h4>
								<p>This is a progressive web app built with ECMAScript2015 and users locations are programmatically attained using the Geolocation API then latest weather observation is fetched from the Weather Underground API. Once the response is recieved the app renders a background based on the time and displays SVG animations based on weather conditions.</p>
								<div class="row text-center">
										<div class="col-xs-12">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/babel.png" class="techlogo">
												<img src="img/techImg/sass.png" class="techlogo">
												<img src="img/techImg/npm.png" class="techlogo">
												<img src="img/techImg/browserify.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://joshboyan.github.io/weatherApp/builds/dist/" target="blank">View App</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/weatherApp" target="blank">GitHub</a>
								</div>
						</div>
				</div>



				<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/minframe.png" class="img-responsive">
								<h2 class="text-center"><a href="https://joshboyan.github.io/minframeSite/builds/dist/">MinFrame</a></h2>
								<p>Mobile-first, responsive website to showcase the minframe CSS framework as well as host the docs and tutorial.</p>
								<h4>Technology</h4>
								<p>This site was built using the minframe CSS framework it is showcasing. It takes advantage of Sass for styling, handlebars for html templating and jQuery for DOM manipulation. It uses npm and gulp in the build process and PHP for form processing and validation.</p>
								<div class="row text-center">
										<div class="col-xs-12">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/sass.png" class="techlogo">
												<img src="img/techImg/jquery.png" class="techlogo">
												<img src="img/techImg/handlebars.png" class="techlogo">
												<img src="img/techImg/php.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://joshboyan.github.io/minframeSite/builds/dist/" target="blank">View Site</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/minframeSite" target="blank">GitHub</a>
								</div>
						</div>
				</div>

				<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/burrito-masala.png" class="img-responsive">
								<h2 class="text-center"><a href="https://joshboyan.github.io/burrito-masala/">Burrito Masala</a></h2>
								<p>Mobile-first, responsive, single-page website for food cart built with a "burrito builder" in-page application.</p>
								<h4>Technology</h4>
								<p>This site was built on the Zurb Foundation framework using Sass for styling and Handlebars for templating. The on page animations and the "burrito-builder" were all done using jQuery. Features include a custom marker for the Google map, latest Yelp reviews and Twitter Cards integration.</p>
								<div class="row text-center">
										<div class="col-xs-12">
											  <img src="img/techImg/foundation.png" class="techlogo">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/sass.png" class="techlogo">
												<img src="img/techImg/jquery.png" class="techlogo">
												<img src="img/techImg/handlebars.png" class="techlogo">
												<img src="img/techImg/php.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://joshboyan.github.io/burrito-masala/" target="blank">View Site</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/burrito-masala" target="blank">GitHub</a>
								</div>
						</div>
				</div>

				<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/anythings-pastable.png" class="img-responsive">
								<h2 class="text-center"><a href="http://joshboyan.github.io/anythings_pastable/">Anythings Pastable</a></h2>
								<p>PDX food cart website. The clients wanted a site for their food cart that matched the tone for their business; warm, inviting and rustic.</p>
								<h4>Technology</h4>
								<p>The site is a mobile-first, responsive design built using LESS for styling and Jquery for added functionality. It features a Google map, Facebook and Twitter feed integration as well as a touch repsonsive photo gallery and homepage slideshow.</p>
								<div class="row text-center">
										<div class="col-xs-12">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/less.png" class="techlogo">
												<img src="img/techImg/jquery.png" class="techlogo">
												<img src="img/techImg/npm.png" class="techlogo">
												<img src="img/techImg/php.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="http://joshboyan.github.io/anythings_pastable/" target="blank">View Site</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/anythings_pastable" target="blank">GitHub</a>
								</div>
						</div>
				</div>




					<div class="row row-tools row-grey">
							<div class="col-sm-12 text-center">

								<h3>Tools I Use</h3>

								<img src="img/techImg/github.png" class="toollogo">
								<img src="img/techImg/jira.png" class="toollogo">
								<img src="img/techImg/postman.png" class="toollogo">
								<img src="img/techImg/linux.png" class="toollogo">
								<img src="img/techImg/adobe.png" class="toollogo">								
								<img src="img/techImg/analytics.png" class="toollogo">

							</div>
					</div>
				</main>
<footer role="contentinfo">
	<div class="row row-footer hidden-xs text-center">
						<div class="col">
							<div>
								<h3>I'm available for work, get in touch</h3>
								<a href="/jBoyanFullStackJavaScript.pdf" class="" target="_blank">
									jBoyanFullStackJavaScript.pdf
								</a>
							</div>
						</div>
					</div>
