---
layout: default
title: "Josh Boyan - Full-stack Javascript" 
url: "https://joshboyan.com"
image: "https://joshboyan.com/img/josh-boyan.png"
description: "Full-stack Javascript Developer, UX/UI designer, problem-solver and fun person to work with in general."  

---
	
</header>

<div class="container main-container">

			<div class="row">
				<!-- side content -->
				<aside class="col-sm-3 about-me about-side text-center hidden-xs">
						<img src="img/josh-boyan.jpg" class="profile-pic img-responsive center-block">
						<h1>Josh Boyan</h1>
						<h2>Full-stack Javascript</h2>
						<h3>Problem Solver</h3>

						<div class="text-center" style="margin:20px">
							<a href="https://www.linkedin.com/in/joshboyan/" target="_blank" class="cta-icon"><img src="img/linkedin.png" alt="Linkedin"></a>
							<a href="https://stackoverflow.com/users/5827595/captainj?tab=profile" target="_blank" class="cta-icon"><img src="img/stack-overflow.png" alt="Stack Overflow"></a>
							<a href="joshboyan.com/resume.pdf" target="_blank" class="cta-icon"><img src="img/resume.png" alt="Resume"></a>
							<a href="https://github.com/joshboyan" target="_blank" class="cta-icon"><img src="img/github-icon.png" alt="GitHub"></a>
							<a href="https://www.npmjs.com/~joshboyan" target="_blank" class="cta-icon"><img src="img/npm.png" alt="NPM"></a>
						</div>
				</aside>

				<aside class="text-center about-me hidden-sm hidden-md hidden-lg">
						<img src="img/josh-boyan.jpg" width=200 class="profile-pic img-responsive center-block">
						<h1>Josh Boyan</h1>
						<h2>Full-stack Javascript</h2>
						<h3>Problem Solver</h3>

						<div class="text-center" style="margin:20px">
							<a href="https://www.linkedin.com/in/joshboyan/" class="cta-icon"><img src="img/linkedin.png" alt="Linkedin"></a>
							<a href="https://stackoverflow.com/users/5827595/captainj?tab=profile" class="cta-icon"><img src="img/stack-overflow.png" alt="Stack Overflow"></a>
							<a href="https://joshboyan.com/resume.pdf" class="cta-icon"><img src="img/resume.png" alt="Resume"></a>
							<a href="https://github.com/joshboyan" class="cta-icon"><img src="img/github-icon.png" alt="GitHub"></a>
							<a href="https://www.npmjs.com/~joshboyan" target="_blank" class="cta-icon"><img src="img/npm.png" alt="NPM"></a>	
						</div>
				</aside>

				<div class="bottom-cta hidden-sm hidden-md hidden-lg text-center">
					<div class="btn btn-primary">Get in touch</div>
				</div>


				<!-- main content -->
        <main role="main" class="col-sm-9 col-sm-offset-3">

					<!--
					<div class="row work-item-row">
							<div class="col-sm-8 col-sm-offset-2 project">

								<img src="img/appointment-ledger.png" class="img-responsive">

								<h2 class="text-center"><a href="https://appointment-ledger-map.herokuapp.com" target="blank">Appointment Ledger Map</a></h2>
								<p>Progressive web app built with MERN stack that schedules appointments and give users directions and timeframes.</p>
								<h4>Technology</h4>
								<p>The front-end uses React and bootstrap for a mobile-first UI. The app uses the Google Maps and Places APIs to give users autocomplete functionality and directions. The backend is an express API that prefroms CRUD operations on a mongoDB database.</p>

								<div class="row text-center">
									<div class="col-xs-12">
										<img src="img/techImg/react.png" class="techlogo">
										<img src="img/techImg/node.png" class="techlogo">
										<img src="img/techImg/express.png" class="techlogo">
										<img src="img/techImg/mongo.png" class="techlogo">
										<img src="img/techImg/jest.png" class="techlogo">
										<img src="img/techImg/bootstrap.png" class="techlogo">
										<img src="img/techImg/heroku.png" class="techlogo">
									</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://appointment-ledger-map.herokuapp.com" target="blank">View App</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/appointment-ledger-map" target="blank">GitHub</a>
								</div>
							</div>
					</div>
					-->
					<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
							<img src="img/book-finder.png" class="img-responsive">
							<h2 class="text-center"><a href="https://joshboyan.github.io/react-book-finder/" target="blank">Book Finder</a></h2>
							<p>React progressive web application using the Google Books API to find and sort books.</p>
							<h4>Technology</h4>
							<p>The UI is built with React following material design guidelines. The app accesses the Google books API and uses sevice workers and IndexedDB for offline usage.</p>
							<div class="row text-center">
								<div class="col-xs-12">
									<img src="img/techImg/react.png" class="techlogo">
									<img src="img/techImg/webpack.png" class="techlogo">
									<img src="img/techImg/node.png" class="techlogo">									
									<img src="img/techImg/npm.png" class="techlogo">
								</div>
							</div>
							<div class="row text-center" style="margin:20px;">
									<a class="btn btn-primary" href="https://joshboyan.github.io/react-book-finder/" target="blank">View App</a>
									<a class="btn btn-primary" href="https://github.com/joshboyan/react-book-finder/" target="blank">GitHub</a>
							</div>
						</div>
					</div>

					<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/fifteen.png" class="img-responsive">
								<h2 class="text-center"><a href="http://joshboyan.com/fifteen" target="blank">Fifteen Puzzle</a></h2>
								<p>Progressive web app puzzle game</p>
								<h4>Technology</h4>
								<p>Fifteen is a progressive web app built with vanilla EcmaScript2015 and supplemented with modern browser APIs and polyfills. MongoDB is used for the game score database.</p>
								<div class="row text-center">
										<div class="col-xs-12">
												<img src="img/techImg/babel.png" class="techlogo">
												<img src="img/techImg/mongo.png" class="techlogo">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/npm.png" class="techlogo">
												<img src="img/techImg/sass.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://joshboyan.com/fifteen" target="blank">Open App</a>
										<a class="btn btn-primary" href="https://joshboyan.com/fifteen" target="blank">GitHub</a>
								</div>
						</div>
				</div>


				<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/weather-app.png" class="img-responsive">
								<h2 class="text-center"><a href="https://joshboyan.com/weather-app" target="blank">Animated Weather</a></h2>
								<p>Weather app with CSS3 and SVG animations giving users current weather and their 3 day forecast.</p>
								<h4>Technology</h4>
								<p>This is a progressive web app built with ECMAScript2015 and users locations are programmatically attained using the Geolocation API then latest weather observation is fetched from the Weather Underground API. Once the response is recieved the app renders a background based on the time and displays SVG animations based on weather conditions.</p>
								<div class="row text-center">
										<div class="col-xs-12">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/babel.png" class="techlogo">
												<img src="img/techImg/sass.png" class="techlogo">
												<img src="img/techImg/npm.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://joshboyan.com/weather-app" target="blank">View App</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/weatherApp" target="blank">GitHub</a>
								</div>
						</div>
				</div>



				<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/minframe.png" class="img-responsive">
								<h2 class="text-center"><a href="https://joshboyan.com/minframe/">MinFrame</a></h2>
								<p>Mobile-first, responsive website to showcase the minframe CSS framework as well as host the docs and tutorial.</p>
								<h4>Technology</h4>
								<p>This site was built using the minframe CSS framework it is showcasing. It takes advantage of Sass for styling, handlebars for html templating and jQuery for DOM manipulation. It uses npm and gulp in the build process and PHP for form processing and validation.</p>
								<div class="row text-center">
										<div class="col-xs-12">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/sass.png" class="techlogo">
												<img src="img/techImg/jquery.png" class="techlogo">
												<img src="img/techImg/handlebars.png" class="techlogo">
												<img src="img/techImg/php.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="https://joshboyan.com/minframe/" target="blank">View Site</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/minframeSite" target="blank">GitHub</a>
								</div>
						</div>
				</div>

				<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/burrito-masala.png" class="img-responsive">
								<h2 class="text-center"><a href="http://joshboyan.com/burrito-masala/">Burrito Masala</a></h2>
								<p>My client required a visually impressive lead capture website where customers could see the yachts, villas and packages on offer and submit requests for more information</p>
								<h4>Technology</h4>
								<p>Sail Experience was built using the WordPress CMS as the client requested the ability to update the site copy themselves and add/remove products as needed. The theme is a premium theme, customised to suit the needs of the business</p>
								<div class="row text-center">
										<div class="col-xs-12">
											  <img src="img/techImg/foundation.png" class="techlogo">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/sass.png" class="techlogo">
												<img src="img/techImg/jquery.png" class="techlogo">
												<img src="img/techImg/handlebars.png" class="techlogo">
												<img src="img/techImg/php.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="http://joshboyan.com/burrito-masala/" target="blank">View Site</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/burrito-masala" target="blank">GitHub</a>
								</div>
						</div>
				</div>

				<div class="row work-item-row">
						<div class="col-sm-8 col-sm-offset-2 project">
								<img src="img/anythings-pastable.png" class="img-responsive">
								<h2 class="text-center"><a href="http://joshboyan.com/anythings-pastable/">Anythings Pastable</a></h2>
								<p>PDX food cart website. The clients wanted a site for their food cart that matched the tone for their business; warm, inviting and rustic.</p>
								<h4>Technology</h4>
								<p>The site is a mobile-first, responsive design built using LESS for styling and Jquery for added functionality. It features a Google map, Facebook and Twitter feed integration as well as a touch repsonsive photo gallery and homepage slideshow.</p>
								<div class="row text-center">
										<div class="col-xs-12">
												<img src="img/techImg/gulp.png" class="techlogo">
												<img src="img/techImg/less.png" class="techlogo">
												<img src="img/techImg/jquery.png" class="techlogo">
												<img src="img/techImg/npm.png" class="techlogo">
												<img src="img/techImg/php.png" class="techlogo">
										</div>
								</div>
								<div class="row text-center" style="margin:20px;">
										<a class="btn btn-primary" href="http://joshboyan.com/anythings-pastable/" target="blank">View Site</a>
										<a class="btn btn-primary" href="https://github.com/joshboyan/anythings_pastable" target="blank">GitHub</a>
								</div>
						</div>
				</div>




					<div class="row row-tools row-grey">
							<div class="col-sm-12 text-center">

								<h3>Tools I Use</h3>

								<img src="img/techImg/github.png" class="toollogo">
								<img src="img/techImg/jira.png" class="toollogo">
								<img src="img/techImg/postman.png" class="toollogo">
								<img src="img/techImg/linux.png" class="toollogo">
								<img src="img/techImg/adobe.png" class="toollogo">								
								<img src="img/techImg/analytics.png" class="toollogo">

							</div>
					</div>

					<div class="row row-footer text-center">
						<div class="col">
							<div style="margin:50px;">
								<h3 style="margin:50px 0 15px">I'm available for work, get in touch</h3>
								<a href="https://joshboyan.com/" class="" target="_blank">
									joshboyan.com
								</a>
							</div>
						</div>
					</div>
				</main>
<footer role="contentinfo">
